/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #4ecdc4;
  --ifm-color-primary-dark: #35c4ba;
  --ifm-color-primary-darker: #2ebeb4;
  --ifm-color-primary-darkest: #26a199;
  --ifm-color-primary-light: #67d6ce;
  --ifm-color-primary-lighter: #74dad3;
  --ifm-color-primary-lightest: #95e3dd;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #5fd4cc;
  --ifm-color-primary-dark: #46cfc6;
  --ifm-color-primary-darker: #39cbc2;
  --ifm-color-primary-darkest: #2db3ab;
  --ifm-color-primary-light: #78d9d2;
  --ifm-color-primary-lighter: #85ddd6;
  --ifm-color-primary-lightest: #a6e5df;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}